<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671402876268-ucrqgj3jcnvjd2j8jrvebii6gb0jcu89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671402876268-ucrqgj3jcnvjd2j8jrvebii6gb0jcu89</string>
	<key>API_KEY</key>
	<string>AIzaSyB2ICXg9KToteYiqbj40tJGsHc2J4alSuY</string>
	<key>GCM_SENDER_ID</key>
	<string>671402876268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.multiBrokerPortfolio</string>
	<key>PROJECT_ID</key>
	<string>mbp-tracker-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>mbp-tracker-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671402876268:ios:ad8716d914ed68b51a2749</string>
</dict>
</plist>